/*!
 * Start Bootstrap - Blog Home HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-image: url("../images/bg.png");
}
ul.list-unstyled li.col-lg-6 a{padding:3px 3px; border-bottom:1px solid #ddd; display:block;}
.form-group label {
    color: #d9230f;}
footer {
    margin: 50px 0;
}